*.png
*.jpg
*.JPG
*.mp4
*.h5
*.weight
*.weights
ObjectDetect/yad2k/weight/
Scene/2017.csv
Scene/Videos/
Scene/jt/
*.pyc
*.data
*.npy
*.csv
*.ini
*.pkl
Config/*
Data/Videos/Descriptions/*
Data/Videos/Tmp/*
Data/Videos/*
Data/Indexs/Content/*
*.bin
VideoSite/*

